@model FinancialApp.Models.Settings

@{
    ViewData["Title"] = "Settings";
}

<h2>Settings</h2>

<!-- Display success message -->
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

<!-- Display validation errors -->
@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        <ul>
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <li>@error.ErrorMessage</li>
            }
        </ul>
    </div>
}

<p>
    <a asp-area="Identity" asp-page="/Account/Manage/Index" class="btn btn-secondary btn-lg">&#8592; Profile Details</a>
</p>

<form asp-action="SaveSettings" method="post">
    <label for="currency">Preferred Currency:</label>
    <select asp-for="PreferredCurrency" asp-items="Html.GetEnumSelectList<CurrencyType>()"></select>

    <button type="submit">Save</button>
</form>